<div class="page-wrapper">
  <div class="content">
      <div class="row">
          <div class="col-sm-4 col-3">
              <h4 class="page-title">Patients</h4>
          </div>
          <div class="col-sm-8 col-9 text-right m-b-20">
              <a [routerLink]="['/manage/addPatient']" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Ajouter Patient</a>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12 d-flex flex-column">
          <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">

        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-title card-title-dash">liste des patients</h3>
            <div class="add-items d-flex mb-0">
              <!-- <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> -->

            </div>
          </div>
          <br>
        <p-table #dt [value]="patient$"  dataKey="idPatient" [rowHover]="true" [rows]="5"
        [reorderableColumns]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 50]"
        [paginator]="true" [exportHeader]="'customExportHeader'"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['qenqRef', 'qenqTit', 'qenqType','qenqDatdem','qenqStatut']" [resizableColumns]="true"
        selectionMode="single" styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="700px">

        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="codePatient">
                    <div class="flex justify-content-between align-items-center">
                         code Patient
                        <p-sortIcon field="codePatient"></p-sortIcon>
                        <p-columnFilter type="text" field="codePatient" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <th pResizableColumn pSortableColumn="firstname">
                  <div class="flex justify-content-between align-items-center">
                    prénom
                      <p-sortIcon field="firstname"></p-sortIcon>
                      <p-columnFilter type="text" field="firstname" display="menu"
                          class="ml-auto"></p-columnFilter>
                  </div>
              </th>

              <th pResizableColumn pSortableColumn="lastname">
                <div class="flex justify-content-between align-items-center">
                  nom
                    <p-sortIcon field="lastname"></p-sortIcon>
                    <p-columnFilter type="text" field="lastname" display="menu"
                        class="ml-auto"></p-columnFilter>
                </div>
            </th>

            <th pResizableColumn pSortableColumn="dateNaissance">
              <div class="flex justify-content-between align-items-center">
                date de Naissance
                  <p-sortIcon field="dateNaissance"></p-sortIcon>
                  <p-columnFilter type="text" field="codePatient" display="menu"
                      class="ml-auto"></p-columnFilter>
              </div>
          </th>

          <th pResizableColumn pSortableColumn="sexe">
            <div class="flex justify-content-between align-items-center">
              sexe
                <p-sortIcon field="sexe"></p-sortIcon>
                <p-columnFilter type="text" field="sexe" display="menu"
                    class="ml-auto"></p-columnFilter>
            </div>
        </th>

        <th pResizableColumn pSortableColumn="codeAssurance">
            <div class="flex justify-content-between align-items-center">
              code Assurance
                <p-sortIcon field="codeAssurance"></p-sortIcon>
                <p-columnFilter type="text" field="codeAssurance" display="menu"
                    class="ml-auto"></p-columnFilter>
            </div>
        </th>

        <th> Action</th>
            </tr>

            <tr>
                <th>
                    <input type="text" class="form-control" placeholder="Quelques" _mstplaceholder="44980"
                        _msthash="211" style="border: 1px solid #2b303542; color: #2b3035;"
                        (input)="dt.filter($any($event.target).value, 'codePatient', 'contains')"
                        placeholder=" Search">
                </th>
                <th> <input type="text" class="form-control" placeholder="Quelques" _mstplaceholder="44980"
                        _msthash="211" style="border: 1px solid #2b303542; color: #2b3035;"
                        (input)="dt.filter($any($event.target).value, 'firstname', 'contains')" placeholder=" Search">
                </th>

                <th> <input type="text" class="form-control" placeholder="Quelques" _mstplaceholder="44980"
                        _msthash="211" style="border: 1px solid #2b303542; color: #2b3035;"
                        (input)="dt.filter($any($event.target).value, 'lastname', 'contains')"
                        placeholder=" Search">
                </th>

                <th> <input type="text" class="form-control" placeholder="Quelques" _mstplaceholder="44980"
                        _msthash="211" style="border: 1px solid #2b303542; color: #2b3035;"
                        (input)="dt.filter($any($event.target).value, 'dateNaissance', 'contains')"
                        placeholder=" Search">
                </th>

                <th> <input type="text" class="form-control" placeholder="Quelques" _mstplaceholder="44980"
                    _msthash="211" style="border: 1px solid #2b303542; color: #2b3035;"
                    (input)="dt.filter($any($event.target).value, 'sexe', 'contains')"
                    placeholder=" Search">
            </th>
            <th> <input type="text" class="form-control" placeholder="Quelques" _mstplaceholder="44980"
              _msthash="211" style="border: 1px solid #2b303542; color: #2b3035;"
              (input)="dt.filter($any($event.target).value, 'codeAssurance', 'contains')"
              placeholder=" Search">
            </th>

            <th></th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr [pSelectableRow]="item" (click)="getPatient(item)">
                <td>{{item.codePatient}}</td>
                <td>{{item.firstname}}</td>
                <td>{{item.lastname}}</td>
                <td>{{item.dateNaissance | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.sexe}}</td>
                <td>{{item.codeAssurance}}</td>
                <td><a [routerLink]="['/manage/editPatient']" class="btn btn btn-primary btn-rounded float-right" (click)="editPatient(item)"><i class="fa fa-edit"></i></a></td>
            </tr>
        </ng-template>
      </p-table>
      </div>
      </div>
      </div>
      </div>
      </div>

      </div>

  </div>
  </div>

  <div class="row" *ngIf="view">
    <app-listAppointment [patient]="patient"  ></app-listAppointment>
  </div>

